{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": { // https://eslint.org/docs/rules/
    "semi": ["error", "always"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "indent": ["error", 4], // 4 is the default, just to have it here
    "eqeqeq": "warn",
    "no-else-return": "warn"
  }
}
